[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.2.14"
gunicorn = "==21.2.0"
django-environ = "==0.11.2"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.9"
